body {
    background-color: #2EC4B6;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 17%;
    width: 75%;
}

#your-4-year-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D3557;
    background-color: #CBF3F0;
    width: 50%;
    max-height: 50%;
    border-radius: 30px;
    font-size: 2.5vmax;
    font-weight: 600;
    text-align: center;
}

#smallbuttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    width: 30%;
}

#plan {
    height: 83%;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 100%;
    width: 25%;
}

#label1 {
    color: #FF9F1C;
    opacity: 29%;
    width: 100%;
    height: 25%;
    font-size: 250%;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

.smallbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3A3A;
    color: white;
    width: 35%;
    height: 50%;
    border: 4px solid #FFBF69;
    border-radius: 30px;
    font-size: 0.8vw;
}

.yearlabel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFBF69;
    font-size: 2vw;
    font-weight: 600;
    max-height: 25vh;
    width: 50%;
    border-bottom: 7px solid #FF9F1C;
}


.season {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 98%;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
}

.sznlabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5%;
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    font-size: 1.3vw;
}

.dropzone {
    height: 100%;
    width: 20%;
    background-color: #C4C4C4;
}