<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4 Year Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <script src="./js/main.js" async> </script>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="./css/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./css/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./css/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <main>
        <!-- Index/Homepage-->
        <div class='whitebox'>
            <div class='whiterect'> </div>
            <div class='v1_10'></div>
            <div class='img1'> </div>
            <div class='stampimg'>
                <div class='text1'> <strong> 4 year planner </strong> </div>
                <div class='text2'> Organize your <br> college plans <br> ahead of time </div>
                <button class='start' onclick='return openWindow(".modalBG")'> Start Now </button>
                <button class='signin' onclick='return openWindow(".signBG")'> Sign In </button>

            </div>

            <!--Sign Up Pop Up Modal -->
            <div class="modalBG">
                <div class="modalCONT">
                    <div class='signupTxt'> <strong> Let's get to know you better! </strong> </div>
                    <form id="signup" action="submit">
                        <input type="text" name="name" placeholder="Name">
                        <input type="email" name="email" placeholder="Email">
                        <input type="text" name="userN" placeholder="Username">
                        <input type="password" name="pw" placeholder="Password">
                        <input type="text" name="college" placeholder="College Name">

                        <a href=""> <button class="submit"> Sign Up </button> </a>
                    </form>
                    <div class="close" onclick='return closeWindow(".modalBG")'> + </div>
                </div>
            </div>

            <!--Sign In Pop Up Modal -->
            <div class="signBG">
                <div class="signCONT">
                    <div class="signinTxt"> <strong> sign in to your account! </strong> </div>
                    <form id="login" action="submit">
                        <input type="text" name="loginuser" placeholder="username">
                        <input type="text" name="loginpw" placeholder="password">

                        <a href=" "> <button class="submit"> Sign In </button></a>
                    </form>
                </div>
                <div class="closeIn" onclick='return closeWindow(".signBG")'> + </div>
            </div>
            <script>
                window.addEventListener("DOMContentLoaded", () => {
                    // Your web app's Firebase configuration
                    const firebaseConfig = {
                        apiKey: "AIzaSyAmB6NpA6m3m-p_qe-h4uuHeaYJRpta1g4",
                        authDomain: "fouryearplan-webapp.firebaseapp.com",
                        projectId: "fouryearplan-webapp",
                        storageBucket: "fouryearplan-webapp.appspot.com",
                        messagingSenderId: "132199798821",
                        appId: "1:132199798821:web:a157f6282f901ae1ee47cc"
                    };
                    // Initialize Firebase
                    firebase.initializeApp(firebaseConfig);
                    // Set Persistence for Auth
                    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

                    document
                        .getElementById("login")
                        .addEventListener("submit", (event) => {
                            event.preventDefault();
                            const login = event.target.loginuser.value;
                            const password = event.target.loginpw.value;

                            firebase
                                .auth()
                                .signInWithEmailAndPassword(login, password)
                                .then(({
                                    user
                                }) => {
                                    return user.getIdToken().then((idToken) => {
                                        // Bad Code (A Hack)
                                        console.log(user);
                                        const fouryearplanuser = JSON.stringify(user);
                                        sessionStorage.setItem('fouryearplanuser',
                                            fouryearplanuser);
                                        console.log(sessionStorage.fouryearplanuser);
                                        // End of bad code
                                        return fetch("/sessionLogin", {
                                            method: "POST",
                                            headers: {
                                                Accept: "application/json",
                                                "Content-Type": "application/json",
                                                "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                                            },
                                            body: JSON.stringify({
                                                idToken
                                            }),
                                        });
                                    });
                                })
                                .then(() => {
                                    return firebase.auth().signOut();
                                })
                                .then(() => {

                                    window.location.assign("/main");
                                });
                            return false;
                        });

                    document
                        .getElementById("signup")
                        .addEventListener("submit", (event) => {
                            event.preventDefault();
                            const login = event.target.email.value;
                            const password = event.target.pw.value;

                            const name = event.target.name.value;
                            const username = event.target.userN.value;
                            const college = event.target.college.value;

                            firebase
                                .auth()
                                .createUserWithEmailAndPassword(login, password)
                                .then(({
                                    user
                                }) => {
                                    return user.getIdToken().then((idToken) => {
                                        // Bad Code (A Hack)
                                        console.log(user);
                                        const fouryearplanuser = JSON.stringify(user);
                                        sessionStorage.setItem('fouryearplanuser',
                                            fouryearplanuser);
                                        console.log(sessionStorage.fouryearplanuser);
                                        // End of bad code
                                        console.log("User Login: " + login);
                                        console.log("User ID: " + user.uid);
                                        fetch("/recordNewUserInDB", {
                                            method: "POST",
                                            headers: {
                                                Accept: "application/json",
                                                "Content-Type": "application/json",
                                                "CSRF-Token": Cookies.get(
                                                    "XSRF-TOKEN"),
                                            },
                                            method: "POST",
                                            body: JSON.stringify({
                                                email: login,
                                                id: user.uid,
                                                name: name,
                                                username: username,
                                                college: college
                                            }),
                                        });
                                        return fetch("/sessionLogin", {
                                            method: "POST",
                                            headers: {
                                                Accept: "application/json",
                                                "Content-Type": "application/json",
                                                "CSRF-Token": Cookies.get(
                                                    "XSRF-TOKEN"),
                                            },
                                            body: JSON.stringify({
                                                idToken
                                            }),
                                        });
                                    });
                                })
                                .then(() => {
                                    return firebase.auth().signOut();
                                })
                                .then(() => {
                                    window.location.assign("/main");
                                });
                            return false;
                        });
                });
            </script>
    </main>
</body>

</html>