<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>


    <!-- <script type="module" src="js/auth.js"></script> -->
    <script src="db.js"></script>
</head>

<body>
    <script>
        // userSessionData is JSON with loggedin user's data. From there use userSessionData.uid to identify user
        if(sessionStorage.getItem('fouryearplanuser') === null) {
            console.log(sessionStorage.fouryearplanuser);
        }
        console.log(sessionStorage.fouryearplanuser);
        let userSessionData = JSON.parse(sessionStorage.fouryearplanuser);
        console.log(userSessionData);

        function addCourse() {
        document.getElementById("demo").innerHTML = "Paragraph changed.";
        }
    </script>
    <!-- This button will add course to user's courses -->
    <button onclick="addCourse()">Add Course</button>

    <button onclick="exportPlan()">Export Plan</button>

    <button onclick="enterReqs()">Enter Reqs</button>

    <h1>Year 1</h1>

    <p id="demo"></p>

    <h1>Year 2</h1>

    <h1>Year 3</h1>

    <h1>Year 4</h1>

    <a href="/sessionLogout">Log out</a>
</body>

</html>